<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Show</title>
<!-- BOOSTRAP -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <style type="text/css" media="screen">
      span {
        font-weight: normal;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Dojos#show</h1>
      <p>Find me in app/views/dojos/show.html.erb</p>
      <h3><%= @branch.branch %></h3>
      <h5>Address: <span><%= @branch.street %></span></h5>
      <h5>City: <span><%= @branch.city %></span></h5>
      <h5>State: <span><%= @branch.state %></span></h5>
      <a href="/dojos">Home</a>
      <a href="/dojos/<%= @branch.id %>/edit">Edit</a>
    </div>
  </body>
</html>
