<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit - Mongoose</title>
  </head>
  <body>
    <h1>Edit: <%= dog.name%></h1>
    <a href="/">Home</a>
    <form class="" action="/<%= dog.id %>" method="post">
      <label for="name">Name:</label>
      <input type="text" name="name" value="<%= dog.name %>">
      <label for="weight">Weight:</label>
      <input type="text" name="weight" value="<%= dog.weight %>">
      <label for="color">Color:</label>
      <input type="text" name="color" value="<%= dog.color %>">
      <input type="submit" name="submit" value="Edit Dog!">
    </form>
  </body>
</html>
